/* 
Resource
- https://www.youtube.com/watch?v=VxCzMFrWE-Y


AnimationStructure
- Vertical
  - Snow
  - 100%
- Horizontal
  - Wind
  - 50%
*/
body {

    margin: 0;

    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Codystar', sans-serif;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
}

.snowfall {
    position: absolute;
    z-index: -1;
    inset: 0;
    overflow: hidden;
    background: linear-gradient(#1090d9, #2612aa 85%);
}

.snowflake {
    --small: 3px;
    --medium: 7px;
    width: var(--small);
    height: var(--small);
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: snow 6s linear infinite,
        wind 10s ease-in-out infinite;
    top: 10%;
}

.snowflake:nth-child(2n+3) {
    /* 3, 5, 7, ... */
    width: var(--medium);
    height: var(--medium);
}

.snowflake:nth-child(1) { left: 25%; animation-delay: 1s;}
.snowflake:nth-child(2) { left: 80%; animation-delay: 1.5s;}
.snowflake:nth-child(3) { left: 30%; animation-delay: 2s;}
.snowflake:nth-child(4) { left: 75%; animation-delay: 2.5s;}
.snowflake:nth-child(5) { left: 27%; animation-delay: 3s;}
.snowflake:nth-child(6) { left: 90%; animation-delay: 3.5s;}
.snowflake:nth-child(7) { left: 35%; animation-delay: 4s;}
.snowflake:nth-child(8) { left: 63%; animation-delay: 4.5s;}


.snowflake:nth-child(9) {
    left: 70%;
    animation-delay: 5s;
}

.snowflake:nth-child(10) {
    left: 20%;
    animation-delay: 5.5s;
}

@keyframes snow {
    100% {
        top: 100%;
    }
}

@keyframes wind {
    50% {
        transform: translateX(120px);
    }
}