/* 
Before
- 가상요소
- Duplicate형태로서 이용
- transalte x2
- 본래요소기준-반대방향 2배

Delay
- 10%
    - 0%
    - 10%
    - 50%
    - 100%
- 60%
    - 0%
    - 10%
    - 50%
    - 60%
    - 100%        
*/


body{
    margin:0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.circle {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    margin: 50px;
}

.circle:nth-child(2),
.circle:nth-child(3),
.circle:nth-child(4){
    animation: up-and-down 4s linear infinite;
}

.circle:nth-child(2)::before,
.circle:nth-child(3)::before,
.circle:nth-child(4)::before {
    content: "";
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;

    /* 복제된 원의 애니메이션 (반대 방향) */
    animation: down-and-up 4s linear infinite;
}


@keyframes up-and-down {
    0%  {transform: translateY(0);      background: #ff0000; }
    10% {transform: translateY(0);      background: #ff0000; }
    50% {transform: translateY(-200px); background: #0000ff; }
    60% {transform: translateY(-200px); background: #0000ff; }
    100%{transform: translateY(0);                             }
}

@keyframes down-and-up {
    0%  {transform: translateY(0);     background: #ff0000; }
    10% {transform: translateY(0);     background: #ff0000; }
    50% {transform: translateY(400px); background: #0000ff; }
    60% {transform: translateY(400px); background: #0000ff; }
    100%{transform: translateY(0);                             }
}